* {
	box-sizing: border-box;
}
.wrapper {
	width: 600px;
	border-top: none;
	border-bottom: none;
	border-left: 3px solid red;
	border-right: 3px solid red;
	margin: 60px auto;
	text-align: center;
}
.product {
	height: 150px;
	background-color: white;
	width: 31%;
	display: inline-block;
	border: 3px solid red;
	margin-bottom: 10px;
}